{% extends 'main.html' %}

{% block content %}
<style>
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<a href="{% url 'product-create' %}"><i style="float: right; font-size: xx-large; color: green;" class="fa fa-plus"
        aria-hidden="true"></i></a>
<div class="clearfix"></div>
<h3>this is all products </h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Seller</th>
            <th style="text-align: center;" scope="col">Update/Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td> <a href="{% url 'product' product.id %}"> {{ product.name }} </a> </td>
            <td>{{ product.price }}</td>
            <td>{{ product.user }}</td>
            <td style="text-align: center;"> 
                <a href="{% url 'product-update' product.id %}" ><i style="color: greenyellow; font-size: x-large;" class="fa fa-edit"  aria-hidden="true"></i></a>
                &nbsp;&nbsp; <a href="{% url 'product-delete' product.id %}"><i style="color: rgba(230, 43, 43, 0.842); font-size: x-large;" class="fa fa-trash"  aria-hidden="true"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}